
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="~/css/foundation.min.css">
</head>
<body>

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Blog</li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Index</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="VistaMascota">Mascota</a>
                </li>
                <li>
                    <a asp-controller="Hospitales" asp-action="Index">Hospitales</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>Our Blog</h1>
            <h2 class="subheader">Such a Simple Blog Layout</h2>
        </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
        <div class="blog-post">
            <h3>Awesome blog post title <small>3/6/2015</small></h3>
            @if(IsSectionDefined("home"))
            {
                //ALGUNA VISTA ESTA ESCRIBIENDO EN @SECTION "HOME" {}
                @RenderSection("home", false)
            }
            else
            {
                //CODIGO ESTATICO DEL LAYOUT PARA EL RESTO DE VISTAS
                <img class="thumbnail" src="~/images/img1.jpg" style="width:150px; height:150px">
            }
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Author: Mike Mikers</a></li>
                    <li><a href="#">Comments: 3</a></li>
                </ul>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>

        <script src="~/js/jquery-3.6.3.min.js"></script>
        <script src="~/js/foundation.js"></script>

        @RenderSection("scripts", false)

    <script>
        $(document).foundation();
    </script>
</body>
</html>



